* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");
.page {
  background: #1e2397;
  color: #fff;

  &__title {
    font-family: "Space Grotesk", sans-serif;
    line-height: 36px;
    text-transform: uppercase;
  }
}

.container {
  max-width: 720px;
  margin: 50px auto;
  padding: 0 10px;
}

.block {
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  display: flex;

  @media (max-width:480px) {
    flex-direction: column;
    gap: 50px;
  }

  &:hover {
    border: 1px solid rgba(159, 166, 180, 0.63);
  }

  &__left,
  &__right {
    width: 50%;
    text-align: center;
    @media (max-width:500px) {
      text-align:initial;
    }
  }
}
.case {

  &__list {
    padding-top: 30px;
    list-style: none;
  }

  &__item {
    padding: 5px;
  }

  &__link {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform: scaleX(100%);
      }
    }
  }
}
